:root {
    --spacing: 8px;
    --white: #fff;
    --lgrey: #999;
    --dgrey: #666;
    --black: #000;
    --accent: #f00;
    --grid-gap: 16px;
}

/* Base styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    width: 100%;
}

body {
    background: var(--white);
}

hr {
    border-top: 1px dashed var(--black);
    margin: calc(var(--spacing) * 4) 0;
}

/* Structure */
footer {
    margin-top: calc(var(--spacing) * 8);
    width: 100%;
    text-align: center;
    position: relative;
}

section {
    padding: var(--spacing);
}

/* Navigation */
nav {
    text-align: right;
}

nav a, nav header h3 {
    color: var(--black);
    text-decoration: none;
    margin: 0 8px;
}

nav a {
    font-weight: lighter;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav header h3 {
    float: left;
    font-weight: bold;
}

/* Aside */
aside {
    border: dashed 4px #aaa;
    padding: var(--grid-gap);
    font-style: italic;
    color: var(--dgrey);
}

aside > p {
    margin: 0;
}

/* Fieldset & Legend */
fieldset {
    border: 1px dashed var(--lgrey);
    padding: calc(var(--spacing) * 2);
}

legend {
    padding: 0 calc(var(--spacing) * 2);
    font-weight: bold;
    font-size: 1.3em;
}

/* Details & Summary */
details {
    border: 1px dashed var(--lgrey);
    margin: 0;
}

summary {
    color: var(--white);
    background: var(--black);
    margin: 0;
    padding: var(--spacing);
    cursor: pointer;
}
