.w25 { width: 25%; }
.w50 { width: 50%; }
.w75 { width: 75%; }
.w100 { width: 100%; }

.center {
    text-align: center;
    margin: 0 auto;
}

.centralize-32 { margin: 32px auto; }
.centralize-64 { margin: 64px auto; }
.centralize-128 { margin: 128px auto; }

.right{ margin: 0 0 0 auto; }
.left { margin: 0 auto 0 0; }

.asc {align-self: center}
