nav {
    background-color: var(--secondary);
    padding: var(--spacing);

    overflow-y: auto;
}

/* This will change the scrollbar for the whole page */
::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #999; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #333; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dgrey); /* color of the scroll thumb on hover */
}


/* ------------------------------------------------------------------------------------------------------------- */

nav > a, nav > div > a {
    color: var(--primary) !important;
    text-decoration: none;
    line-height: var(--spacing);
}

nav > a:hover {
    color: var(--accent)!important;
    text-decoration: line-through dashed var(--accent);
    cursor: pointer;
}


nav[nav-dir="v"] > a {
    margin-bottom: var(--spacing);
}


 /* ------------------------------------------------------------------------------------------------------------- */

nav > header {
    font-size: var(--h4-fontsize);
    font-weight: bold;
    color: var(--dgrey);
}
