{{define "dashboard"}}
        <div class="dashboard">
            {{template "sidebar"}}

            <div class="main">
                <div class="logs">
                    <h1>Logs</h1>
                    <br>
                   {{template "loglist"}}
                </div>

                {{template "footer" }}
            </div>
        </div>
{{end}}

